@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body {
  background: #f5f8fa;
  font-family: "Source Sans Pro";
}

.pt-control-group > * {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.sortable-helper {
  z-index: 999;
}
